<nav class="my-2 my-md-0 mr-md-3">
  <a routerLink="/users">users</a>
</nav>
<div class="panel panel-primary">
  <form [formGroup]="form" (ngSubmit)="reloadData()">
    <div align="left">
      <label>Name:</label>
      <input type="name" formControlName="name" placeholder="Enter Name">
      <button type="submit" class="btn btn-info">Search</button>
    </div>
  </form>
  <div class="panel-heading">
    <h2>Course List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>toc</th>
        <th>prerequisites</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let course of courses | async">
        <td>{{course.name}}</td>
        <td>{{course.toc}}</td>
        <td>{{course.prerequisites}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

