<nav class="my-2 my-md-0 mr-md-3">
  <a routerLink="/users">users</a>
</nav>
<form [formGroup]="formModel" (ngSubmit)="reloadData()">
  <div align="left">
    <label>name:</label>
    <input type="name" formControlName="name" placeholder="Enter name">
    <button type="submit" class="btn btn-info">Search</button>
  </div>
</form>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Course List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>toc</th>
        <th>prerequisites</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cc of courses">
        <td>{{cc["name"]}}</td>
        <td>{{cc["toc"]}}</td>
        <td>{{cc["prerequisites"]}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

