<div class="auth-wrapper">
  <form class="form-signin" [formGroup]="signupForm" (ngSubmit)="registerUser()">
    <h3 class="h3 mb-3 font-weight-normal text-center">Please sign up</h3>
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" id="username" formControlName="username" placeholder="Enter Username">
    </div>
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" id="firstName" formControlName="firstName">
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" id="lastName" formControlName="lastName">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" id="password" formControlName="password">
    </div>
    <div class="form-group">
      <label>Contact Number</label>
      <input type="text" class="form-control" id="contactNumber" formControlName="contactNumber">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" id="email" formControlName="email">
    </div>
    <div class="form-group">
      <label>Reg Code</label>
      <input type="text" class="form-control" id="regCode" formControlName="regCode">
    </div>
    <div class="form-group">
      <label>Role</label>
      <input type="text" class="form-control" id="role" formControlName="role">
    </div>
    <button type="submit" class="btn btn-block btn-primary">Sign up</button>
  </form>
</div>
